html {
  scroll-snap-type: y mandatory;
}

.App {
  background-color: black;
  height: 896px;
  display: grid;
  place-items: center;
}

.app__videos {
  height: 896px;
  max-height: 800px;
  width: 80%;
  max-width: 500px;
  border: 1px solid black;
  border-radius: 20px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  position: relative;
}

.app__videos::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 414px) {
  .App {
    height: auto;
  }

  .app__videos {
    width: 100%;
    height: auto;
  }
}