html {
  scroll-snap-type: y mandatory;
}

.App {
  background-color: black;
  height: 896px;
  display: grid;
  place-items: center;
}

.app__videos {
  height: 896px;
  max-height: 800px;
  width: 80%;
  max-width: 500px;
  border: 1px solid black;
  border-radius: 20px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  position: relative;
}

.app__video {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.app__video-thumbnail {
  width: 40%;
  flex-shrink: 0;
  margin-right: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.app__video-info {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.app__video-likes {
  margin-bottom: 5px;
}

.app__video-description {
  margin-bottom: 5px;
}

.app__video-shares {
  margin-bottom: 0;
}

.app__videos::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 414px) {
  .App {
    height: auto;
  }

  .app__videos {
    width: 100%;
    height: auto;
  }
}
